---
order: 4
title: Contact
---
<div id="links" class="block">
  <nav class="outline full">
    <a href="https://www.linkedin.com/in/carlinhusfsilva/?locale=en_US" target="_blank">
      {% include icon.html name="linkedin" class="left text-red" %}
      <h5>LinkedIN</h5>
      <p>linkedin.com/in/carlinhusfsilva</p>
    </a>
    <a href="https://github.com/crashtech" target="_blank">
      {% include icon.html name="github" class="left text-red" %}
      <h5>GitHub</h5>
      <p>github.com/crashtech</p>
    </a>
    <a href="mailto:me@carlosfsilva.com" target="_blank">
      {% include icon.html name="email" class="left text-red" %}
      <h5>E-mail</h5>
      <p>me@carlosfsilva.com</p>
    </a>
  </nav>
</div>

<div id="support" class="block">
  <h3>Support Me</h3>
  <p class="text-center">
    Join me in empowering the tech community by supporting my open-source contributions.
    Together, we can create tools and solutions that drive innovation and benefit developers worldwide.
  </p>
  <ul>
    <li>
      {% include icon.html name="githublogo" class="center" %}
      <a href="https://github.com/sponsors/crashtech" target="_blank" class="small button">Support on GitHub Support</a>
    </li>
    <li>
      {% include icon.html name="patreonlogo" class="center" %}
      <a href="https://patreon.com/crashtech" target="_blank" class="small button">Support on Patreon</a>
    </li>
  </ul>
</div>
