---
order: 3
title: Services
---
<div class="block">
  <div class="outline">
    {% include icon.html name="webdevelopment" class="left" %}
    <h4>Web Development Consulting</h4>
    <p>Provide expert guidance on software and development projects, from architecture to deployment.</p>
  </div>
  <div class="outline">
    {% include icon.html name="optimization" class="left" %}
    <h4>Code Optimization & Refactoring</h4>
    <p>Improve the performance, readability, and maintainability of existing codebases.</p>
  </div>
  <div class="outline">
    {% include icon.html name="opensource" class="left" %}
    <h4>Open-Source Project Maintenance</h4>
    <p>Offer ongoing support and updates for open-source software solutions.</p>
  </div>
  <div class="outline">
    {% include icon.html name="mergerequest" class="left" %}
    <h4>Team Mentorship & Code Review</h4>
    <p>Provide code reviews and mentor junior developers to improve code quality and skills.</p>
  </div>
</div>
