---
layout: vendor/compress
---

<!DOCTYPE html>
<html lang="en-US">
  {%- include head.html -%}
  <body>
    <a name="home"></a>
    {%- assign sections = site.pages | where: "dir", "/sections/" | sort: 'order' -%}
    {%- include header.html sections=sections -%}

    {%- for section in sections -%}
      {%- assign basename = section.name | remove: '.html' -%}
      {%- if section.title -%}
        <h2>
          <a name="{{ basename }}"></a>
          {{ section.title }}
        </h2>
      {%- endif -%}
      <section id="{{ basename }}" class="content">
        {%- capture content -%}
          {%- include_relative {{ section.path }} -%}
        {%- endcapture -%}

        {{ content | split: "---" | last }}
      </section>
    {%- endfor -%}
  </body>
  <!--
    697297695 H4sIAAAAAAAAA03NMRLDMAhE
    945660283 0d53ISOEEHAcg2Bcx7n/RJPG
    563853579 6d/ub2iNRBPytA7iQ8EqF8ws
    966018650 MUOMzni0H7IBMrk2qga+aPM6
    808003732 mcUCneaD+hkGMgJBBxpgzCif
    532058522 weX+INJg2IUEjVrQZ1hv4UT6
    730431775 lxscO7evwFgWLMoa6l3Y1hHv
    104042977 874+Gddr7+8vOtnBNscA3/+/
    715300135 b4cODrL09WpJ5GAcjjOAAAA=
  -->
</html>
